html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
}

img {
    max-width: 100%;
}

.encabezado-sitio {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.navegacion {
    background-color: #05bae6;
}

.navegacion ul {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    .navegacion ul {
        flex-direction: row;
    }
}

.navegacion ul li {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1.3rem;
}

.navegacion ul li:hover {
    background-color: cadetblue;
}

.navegacion ul li a {
    text-decoration: none;
    color: white;
}

.contenido-principal {
    max-width: 50%;
    margin: 0 auto;
}

.sidebar {
    background-color: #e5e5e5;
    padding: 1.3rem;
}

.contenido {
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .contenido {
        display: flex;
        /* flex-direction: row-reverse; */
    }
    .sidebar {
        flex: 0 0 30%;
        order: -1;
    }
}

.footer {
    background-color: #db008d;
    margin: 0;
    color: white;
    text-align: center;
}