html {
    @include box-sizing(border-box);
    height: 100%;
}

*,
*:after,
*:before {
    @include box-sizing(inherit);
}

body {
    font-family: $fuente_principal;
    height: 100%;
}

img {
    max-width: 100%;
}

.centrado {
    text-align: center;
}

.oculto {
    display: none;
}

.pagina {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.contenedor-principal {
    display: flex;
    flex: 1;
}

.header {
    display: flex;
    .nombre-sitio {
        flex: 0 0 5rem;
        @include desktop {
            flex: 0 0 20rem;
        }
        background-color: $secundario;
        padding: 1rem;
        display: flex;
        align-items: center;
        h1 {
            color: $blanco;
            margin: 0;
        }
        .escritorio {
            display: none;
            @include desktop {
                display: block;
            }
        }
        .movil {
            @include desktop {
                display: none;
            }
        }
    }
}

.barra {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: $primario;
    color: $blanco;
    .menu-izquierdo {
        display: flex;
        align-items: center;
        padding: 1rem;
    }
    .menu-derecho {
        display: flex;
        .caja {
            display: flex;
            padding: 0 1rem;
            align-items: center;
            &:hover {
                background-color: darken($primario, 5);
            }
            a {
                color: $blanco;
                text-decoration: none;
                span {
                    text-align: center;
                    background-color: $terciario;
                    border-radius: 50%;
                    padding: .5rem;
                    margin-left: .2rem;
                }
            }
        }
    }
}

.sidebar {
    color: $blanco;
    background-color: $grisOscuro;
    flex: 0 0 20rem;
    padding: 1rem;
    .usuario {
        display: flex;
        align-items: center;
        justify-content: space-around;
        img {
            max-width: 5rem;
        }
        font-weight: normal;
        span {
            font-weight: bold;
            display: block;
        }
    }
    .buscador {
        margin-top: 1rem;
        input[type="text"] {
            width: 100%;
            height: 3rem;
            border: none;
            border-radius: 10px;
            padding-left: 1rem;
        }
    }
    .menu-admin {
        margin-top: 2rem;
    }
}

.menu-admin {
    .menu {
        list-style: none;
        padding: 0 0 0 1rem;
        >li {
            padding: .5rem;
            &:hover {
                ul {
                    display: block;
                    animation: fadein 1s;
                }
            }
            a {
                color: $blanco;
                text-decoration: none;
                padding: .5rem;
                transition: padding-left .3s ease;
                &:hover {
                    background-color: $primario;
                    padding-left: 2rem;
                }
            }
            ul {
                display: none;
                margin-top: 1rem;
                list-style: none;
                background-color: darken($grisOscuro, 3);
                padding: 1rem;
                li {
                    margin-bottom: 1rem;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}